/* ------------------------------------ *\
    $BLOCKS
\* ------------------------------------ */

/**
 * Featured product
 */
.c-block-featured-product {
  padding: $space-double;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vw;

  @include media('>medium') {
    width: 50%;
    min-height: 50vw;
  }

  a {
    color: $c-black;
  }

  &__image {
    margin-right: $space;
    min-width: 33.33%;

    @include media('>medium') {
      margin-right: $space-double;
    }

    img {
      width: auto;
      height: auto;
      margin: 0 auto;
    }
  }

  &:nth-child(4n + 2),
  &:nth-child(4n + 3) {
    color: $c-white;

    a {
      color: $c-white;
    }

    hr {
      background-color: $c-white;
    }

    button {
      color: $c-white;
      border-color: $c-white;
      background: linear-gradient(to left, transparent 50%, $c-white 50%);
      background-size: 200% 100%;
      background-position: right bottom;

      &:hover,
      &:focus {
        color: $c-black;
        border-color: $c-white;
        background-position: left bottom;
      }
    }
  }

  &:nth-child(4n + 1) {
    background-color: $c-secondary;
  }

  &:nth-child(4n + 2) {
    background-color: $c-primary;
  }

  &:nth-child(4n + 3) {
    background-color: $c-quaternary;
  }

  &:nth-child(4n + 4) {
    background-color: $c-tertiary;
  }

  &.is-coming-soon {
    .c-block-featured-product__image {
      position: relative;

      img {
        opacity: 0.5;
        position: relative;
        z-index: 1;
      }

      &::before {
        @include o-heading--xxl;
        content: "Coming Soon";
        position: absolute;
        top: 32%;
        left: calc(50% - 0.5vw);
        right: 0;
        margin: auto;
        transform: translateX(-50%) rotate(-270deg);
        transform-origin: top left;
        white-space: nowrap;
        font-size: 10vw;
        color: $c-white;
        height: 0;
        width: 0;
        z-index: 2;

        @include media('>medium') {
          font-size: 5vw;
          left: calc(50% - 1.5vw);
        }

        @include media('>xxlarge') {
          font-size: 4vw;
          left: calc(50% - 2.5vw);
        }
      }
    }
  }
}

/**
 * Testimonial
 */
.c-block-testimonial {
  padding: 0 $space-double;

  &::before {
    content: '';
    margin: $space;
    height: 40px;
    width: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  &:nth-child(4n + 1)::before {
    @include icon-quotes('%23ef4438');
  }

  &:nth-child(4n + 2)::before {
    @include icon-quotes('%23fbc617');
  }

  &:nth-child(4n + 3)::before {
    @include icon-quotes('%23d1d628');
  }

  &:nth-child(4n + 4)::before {
    @include icon-quotes('%23787b19');
  }
}
