{% include "@molecules/components/alert.twig" %}
<header class="c-header">
  <div class="c-header__social">
    {% include "@molecules/components/social-links.twig" %}
  </div>
  <div class="c-header__logo">
    {% include "@atoms/images/logo-text.twig" %}
  </div>
  <div class="c-header__menu-icons">
    <div class="c-user-menu">
      <button class="c-user-menu__button js-toggle-parent" data-prefix="this" aria-label="Account">
        {% include "@atoms/icons/user.twig" %}
      </button>
      <div class="c-user-menu__dropdown">
        <a href="/my-account/">My Account</a>
        {% if function('is_user_logged_in') %}
          <a href="{{ function('wp_logout_url', '/') }}">Logout</a>
        {% else %}
          <a href="/login/">Login</a>
        {% endif %}
      </div>
    </div>
    <a href="/cart" class="o-icon o-icon--s">
      {% if cart_count > 0 %}
        <span class="o-add-to-cart-count" data-animation="animate__animated animate__swing">{{ cart_count }}</span>
      {% endif %}
      {% include "@atoms/icons/cart.twig" %}
    </a>
    <button class="o-icon o-icon--s js-toggle" data-toggled="body" data-prefix="menu" aria-role="Menu">
      {% include "@atoms/icons/menu.twig" %}
    </button>
  </div>
</header>
{% include "@molecules/navigation/nav-drawer.twig" %}
