{% if featured_products %}
  <section class="c-section-featured-products">
    {% for post in featured_products %}
      {% include "02-molecules/blocks/block-featured-product.twig" %}
    {% endfor %}
  </section>
{% endif %}
