{% if posts %}
  <div class="c-section-posts">
    <div class="c-section-posts__grid l-container" bp="grid 4@sm 3@lg">
      {% for post in posts %}
        {% include ['02-molecules/blocks/block-'~post.post_type~'.twig', '02-molecules/blocks/block.twig'] %}
      {% endfor %}
    </div>
  </div>
{% endif %}