{% if testimonials %}
  <section class="c-testimonials u-spacing--double u-align--center has-rellax">
    <div class="c-testimonials__heading u-spacing--half">
      <h1>What's the good word</h1>
      <h2>See what people are saying about Angry Duck™</h2>
    </div>
    <div class="c-testimonials__grid l-container--xl">
      <div class="js-slick-testimonials">
        {% for post in testimonials %}
          {% include "02-molecules/blocks/block-testimonial.twig" %}
        {% endfor %}
      </div>
    </div>
    {% include "02-molecules/rellax/rellax-habanero.twig" %}
  </section>
{% endif %}