{% extends "04-templates/base.twig" %}

{% block sections_before %}
  {% include "03-organisms/sections/hero.twig" %}
{% endblock %}

{% block sections_after %}
  <article class="l-article l-article--front">
    <section class="c-content c-content-page has-rellax">
      <div class="o-rte-text u-align-center">
        {{ post.content }}
      </div>
      {% include "02-molecules/rellax/rellax-pineapple.twig" %}
      {% include "02-molecules/rellax/rellax-jalapeno.twig" %}
    </section>
  </article>
  {% include "03-organisms/sections/featured-products.twig" %}
  {% include "03-organisms/sections/testimonials.twig" %}
{% endblock %}