/* ------------------------------------ *\
    $CONTENT
\* ------------------------------------ */

.l-article--front {
  .c-content {
    p {
      max-width: $large;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
