<div class="c-menu">
  <button class="c-menu__toggle js-toggle" data-toggled="l-body" data-prefix="menu" aria-label="Close">
    <span class="o-icon u-icon--s">{% include "00-atoms/icons/close.twig" %}</span>
  </button>
  <div class="c-menu__nav">
    {% include "01-molecules/navigation/primary-nav.twig" %}
  </div>
  <div class="c-menu__social">
    {% include "01-molecules/components/social-links.twig" %}
  </div>
</div>
