{% if primary_nav.theme_location == "primary_navigation" %}
  <nav class="c-primary-nav" role="navigation">
    <ul class="c-primary-nav__list">
      {% for item in primary_nav.get_items %}
        <li class="{{ item.classes | join(' c-primary-nav__') }}">
          <a class="c-primary-nav__link" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
          {% include "01-molecules/navigation/primary-nav.twig" with { 'primary_nav': item.get_children } %}
        </li>
      {% endfor %}
    </ul>
  </nav>
{% endif %}