<footer class="c-main-footer">
  {% block footer %}
    <div class="c-main-footer--inner l-wrap l-container">
      Copyright {{"now"|date('Y')}}. All Rights Reserved.
    </div>
  {% endblock %}
</footer>