{% extends "03-templates/base.twig" %}

{% block sections_before %}
  {% include "02-organisms/sections/hero.twig" %}
{% endblock %}

{% block sections_after %}
  <article class="l-article l-article--front u-spacing--quad">
    <section class="o-rellax c-content c-content-page">
      <div class="o-rte-text u-align-center">
        {{ post.content }}
      </div>
      <div class="o-rellax-item o-rellax-item__pineapple js-rellax" data-rellax-speed="2" data-rellax-zindex="-1">
        <img src="{{ theme.link }}/assets/images/icon-pineapple.svg" alt="Pineapple" />
      </div>
    </section>
  </article>
  {% include "02-organisms/sections/featured-products.twig" %}
  {% include "02-organisms/sections/testimonials.twig" %}
{% endblock %}