{% extends "03-templates/base.twig" %}

{% block content %}
  <article class="l-container l-article l-article--front u-spacing--double">
    <section class="c-content c-content-page">
      <div class="o-rte-text u-text-align--center">
        {{ post.content }}
      </div>
    </section>
    {% include "01-molecules/components/newsletter-signup.twig" %}
  </article>
{% endblock %}