/* ------------------------------------ *\
    $WOOCOMMERCE
\* ------------------------------------ */

.o-message {
  padding: $space-half;
  border: $border--standard;
  border-radius: $border-radius;
  border-color: $c-tertiary;
  background-color: lighten($c-tertiary, 30%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: $space;

  a {
    @include o-link;

    margin-left: $space;
    order: 2;
    transform: scale(1);

    &:hover,
    &:focus {
      transform: scale(1.05);
    }
  }
}

.o-add-to-cart {
  display: flex;
  position: relative;
}

.c-cart {
  &__table {
    td:first-child {
      a {
        border: 0;
      }
    }

    img {
      max-width: 50px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;

    @include media('>medium') {
      flex-direction: row;
      justify-content: space-between;
    }

    > * {
      margin-top: $space;

      @include media('>medium') {
        width: 50%;

        &:first-child {
          order: 1;
        }
      }
    }
  }
}
