/* ------------------------------------ *\
    $LINKS
\* ------------------------------------ */

a {
  text-decoration: none;
  color: $c-link-color;
  transition: $transition-all;

  &:hover,
  &:focus {
    color: $c-link-hover-color;
  }
}

.o-link {
  @include o-link;
}
