/* ------------------------------------ *\
    $BLOCKS
\* ------------------------------------ */

.c-block-testimonial {
  padding: 0 $space-double;

  &::before {
    content: '';
    margin: $space;
    height: 40px;
    width: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  &:nth-child(4n + 1)::before {
    @include icon-quotes('%23ef4438');
  }

  &:nth-child(4n + 2)::before {
    @include icon-quotes('%23fbc617');
  }

  &:nth-child(4n + 3)::before {
    @include icon-quotes('%23d1d628');
  }

  &:nth-child(4n + 4)::before {
    @include icon-quotes('%23787b19');
  }
}
