/* ------------------------------------ *\
    $SPECIFIC FORMS
\* ------------------------------------ */

/**
 * Validation
 */
.has-error {
  border-color: $c-error !important;
}

.is-valid {
  border-color: $c-valid !important;
}

/**
 * Newsletter Signup
 */
.o-newsletter-signup {
  display: flex;
  flex-direction: column;

  @include media(">medium") {
    flex-direction: row;
  }


  input[type=email] {
    width: 100%;
    border: $border--standard;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    @include media(">medium") {
      width: calc(100% - 100px);
    }
  }

  input[type=submit] {
    width: 100%;
    margin-top: $space-half;

    @include media(">medium") {
      margin-top: 0;
      width: 100px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      margin-left: -2px;
    }
  }
}
