/* ------------------------------------ *\
    $FOOTER
\* ------------------------------------ */

.c-footer {
  background-color: $c-secondary;
  color: $c-white;

  &--inner {
    padding: $space-half 0;
    text-align: center;
  }
}
