/* ------------------------------------ *\
    $FOOTER
\* ------------------------------------ */

.c-footer {
  position: relative;
  z-index: 1;

  &::after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: url('../images/footer-bkg.svg') top center no-repeat;
    background-size: auto 110%;
    opacity: 0.05;
    z-index: -1;
  }

  &--inner {
    padding: $space-half $space;
    max-width: $max-width;
    margin: 0 auto;
    text-align: center;
    z-index: 1;

    @include media('>large') {
      align-items: center;
    }
  }

  &-main {
    margin: $space-double 0;

    &__logo {
      .o-logo {
        max-width: 200px;
        margin: 0 auto;
        display: block;
      }
    }

    &__contact {
      a {
        color: $c-black;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }

  &-legal {
    background-color: $c-primary;
    color: $c-white;
    width: 100%;

    &__copyright {
      @include media('>medium') {
        text-align: left;
      }
    }

    &__nav {
      @include media('>medium') {
        text-align: right;
      }
    }
  }
}
