/* ------------------------------------ *\
    $BUTTONS
\* ------------------------------------ */

@mixin o-button {
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  transition: $transition-all;
  text-decoration: none;
  border-radius: 0;
  font-size: $body-font-size;
  font-family: $ff-font--primary;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  white-space: nowrap;
  appearance: none;
  border: none;
  cursor: pointer;
  padding: $space $space-double;
  text-transform: uppercase;
}

/**
 * Button Primary
 */
@mixin o-button--primary {
  background-color: $c-secondary;
  color: $c-white;
  filter: brightness(100%);

  &:hover,
  &:focus {
    filter: brightness(120%);
  }
}

.o-button--primary {
  @include o-button;
  @include o-button--primary;
}

/**
 * Button Secondary
 */
@mixin o-button--secondary {
  background-color: $c-secondary;
  color: $c-white;
  filter: brightness(100%);

  &:hover,
  &:focus {
    filter: brightness(120%);
  }
}

.o-button--secondary {
  @include o-button;
  @include o-button--secondary;
}

button,
input[type="submit"],
.o-button {
  @include o-button;
  @include o-button--primary;
}
