/* ------------------------------------ *\
    $TEXT TYPES
\* ------------------------------------ */

/**
 * Font Families
 */
.u-font {
  font-family: $ff-font;
}

.u-font--primary,
.u-font--primary p {
  font-family: $ff-font--primary;
}

.u-font--secondary,
.u-font--secondary p {
  font-family: $ff-font--secondary;
}

/**
 * Text Sizes
 */

.u-font--xs {
  font-size: $font-size-xs;
}

.u-font--s {
  font-size: $font-size-s;
}

.u-font--m {
  font-size: $font-size-m;
}

.u-font--l {
  font-size: $font-size-l;
}

.u-font--xl {
  font-size: $font-size-xl;
}

.u-font--xxl {
  font-size: $font-size-xxl;
}

/**
 * Text Transforms
 */
.u-text-transform--upper {
  text-transform: uppercase;
}

.u-text-transform--lower {
  text-transform: lowercase;
}

/**
 * Text Styles
 */
.u-text-style--italic {
  font-style: italic;
}

.u-font-weight--normal {
  font-weight: normal;
}

/**
 * Text Positioning
 */
.u-align--center {
  text-align: center;
}

/**
 * Text Decorations
 */
.u-text-decoration--underline {
  text-decoration: underline;
}

/**
 * Rich text editor text
 */
.o-rte-text {
  width: 100%;
  margin: 0 auto;

  & > * + * {
    margin-top: $space;
  }

  > dl dd,
  > dl dt,
  > ol li,
  > ul li,
  > p {
    @include p;
  }

  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    padding-top: $space;
    margin-bottom: -$space-half;
  }

  h2:empty,
  h3:empty,
  p:empty {
    display: none;
  }

  // Heading + subheading lockup
  > h2 + h3 {
    margin-top: 0;
    padding-top: $space-half;
  }

  a {
    text-decoration: underline;
  }

  hr {
    margin-top: $space-double;
    margin-bottom: $space-double;
  }

  code,
  pre {
    font-size: 125%;
  }

  ol,
  ul {
    padding-left: 0;
    margin-left: 0;

    li {
      list-style: none;
      padding-left: 34px;
      margin-left: 0;
      position: relative;
      line-height: 2.1em;

      &::before {
        color: $c-secondary;
        width: 10px;
        display: inline-block;
        position: absolute;
        left: 0;
        font-size: 24px;
        line-height: 1;
        top: 4px;
      }

      li {
        list-style: none;
      }
    }
  }

  ol {
    counter-reset: item;

    li {
      &::before {
        content: counter(item) ". ";
        counter-increment: item;
      }

      li {
        counter-reset: item;

        &::before {
          content: '\002010';
        }
      }
    }
  }

  ul {
    li {
      &::before {
        content: '\002022';
      }

      li {
        &::before {
          content: '\0025E6';
        }
      }
    }
  }
}
