<article class="c-content c-content-page u-spacing--double">
  <div class="o-kicker">{{ post.post_parent ? function('get_the_title', post.post_parent) }}</div>
  <h1 class="o-page-title">{{ post.title }}</h1>
  <div class="l-container--l o-rte-text">
    {{ post.content }}
  </div>
</article>