<h1 class="o-logo" role="banner">
  <a class="o-logo__link" href="{{ site.url }}" aria-label="{{ site.name }}" rel="home">
    <img src="{{ theme.link }}/assets/images/logo.png" alt="{{ site.name }}" />
  </a>
</h1>